@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Cairo", serif;
    direction: rtl;
    background-color: #ededed;
    position: relative;
}

header {
    padding: 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99999;
}

header .title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .title {
    text-decoration: none;
    color: #000;
}

header .title img {
    width: 50px;
    border-radius: 0.3rem;
    ;
}

.sub_page *{
    font-family: "Cairo", serif;
}

.sub_page .container{
    width: 80%;
    display: block !important;
    /* text-align: center; */
}

.sub_page .container ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .container{
    width: 95%;
    padding-right: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

/* .sub_page .container{
    width: 95%;
} */

header .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header .nav a {
    text-decoration: none;
    position: relative;
    color: #0070ff;
    font-size: 0.9rem;
    border-radius: 0.4rem;
}

header .nav a.active{
    background-color: #2f8bff;
    color: #fff;
    padding: 2px 10px;
}

header .nav a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0070ff;
    width: 0%;
    height: 2px;
    opacity: 0;
    transition: 0.3s;
}

header .nav a:not(.active):hover::after {
    width: 70%;
    opacity: 1;
}

main {
    padding-top: 5rem;
}

main .banner {
    width: 100%;
    height: 40vh;
    background-image: url(./imgs/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .banner::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    position: absolute;
    left: 0;
    top: 0;
}

main .banner .title {
    position: relative;
    z-index: 9;
    color: #fff;
    font-size: 2.1rem;
}

section {
    padding: 100px 0;
}

section:not(:last-child){
    border-bottom: 5px solid #fff;
}

/* .sub_page section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .sub_page section p{
    margin: 0 auto !important;
    width: 100%;
} */

.sub_page section ul li{
    margin: 10px auto !important;
}


section .container {
    gap: 1rem;
}

section .text h1 {
    font-size: 2rem;
    color: #0093ff;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

section .text h1::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background-color: #0093ff;
    width: 60%;
    height: 2px;
}

section img {
    max-width: 550px;
    border-radius: 0.5rem;
    border: 5px solid #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section p:not(.sub_page section p){
    max-width: 800px;
    margin: 30px 0;
    line-height: 2;
    font-size: 1.1rem;
}

/* .sub_page section p{
    max-width: 1000px !important;
} */

section .btn {
    background-color: #0093ff;
    color: #fff;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 0.9rem;
    transition: 0.3s;
}

section .btn:hover {
    background-color: #007ad3;
}

.about_main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal {
    width: 100%;
}

.personal .text {
    width: 50%;
}

.personal .text h1 {
    margin-bottom: 20px;
}

.personal .text p {
    font-size: 1.1rem;
    max-width: 700px;
    margin-bottom: 30px;
}

.personal .text h1 span {
    color: #0070ff;
}

.personal .text ul {
    margin-top: 10px;
}

.personal .text ul li {
    margin: 20px 0;
}

.personal .text ul li::marker {
    color: #0070ff;
}

.personal .wrapper_img {
    width: 450px;
    border-radius: 1rem;
    border: 5px solid #fff;
}

.personal .certificates {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 30px 0;
}

.personal .certificates img {
    width: 200px;
    border: 5px solid #fff;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.personal .certificates img:hover {
    transform: scale(1.1);
}

.img_model {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000078;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.img_model.active {
    opacity: 1;
    visibility: visible;
}

.img_model img {
    width: 800px;
}

.img_model #close {
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.img_model #close:hover {
    background-color: #dbdbdb;
}

footer {
    background-color: #fff;
    padding: 15px 0;
}

.mobile_menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateX(50vw);
    visibility: hidden;
    transition: 0.3s;
}

.mobile_menu.active {
    transform: translateX(0);
    visibility: visible;
}

#burger_menu {
    display: none;
}

#h\.7a885a51f563c731_3 > div.mYVXT > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#h\.1d3bfe8ae96f1fc1_384 > div > div > div > div > div.JmGwdf.SzkQif.L6cTce-hJDwNd.L6cTce-dQCS7c > div.pHBU0d{
    display: none;
}

#h\.yhl9l35ap91_l{
    margin-bottom: 30px !important;
    text-align: center !important;
}

#h\.1d3bfe8ae96f1fc1_150{
    font-size: 1.5rem;
}

/* #h\.1d3bfe8ae96f1fc1_151 > div > div > p:nth-child(25){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#h\.1d3bfe8ae96f1fc1_151 > div > div > p:nth-child(25) .C9DxTc {
    display: inline-block;
} */

#h\.3kzuaft2b5o9_l{
    text-align: center !important;
    margin-bottom: 20px;
}

.tyJCtd.mGzaTb.Depvyb.baZpAe h3,
#h\.aiep60gamsiu_l,
#h\.qbrphpi1ik3_l{
    text-align: center !important;
    margin-bottom: 30px;
}

#h\.1d3bfe8ae96f1fc1_392 > div > div > div > div > div.JmGwdf.SzkQif.L6cTce-hJDwNd.L6cTce-dQCS7c > div.pHBU0d{
    display: none;
}

@media (max-width: 1270px) {
    .desk_nav {
        display: none !important;
    }

    .mobile_menu {
        display: block !important;
    }

    .mobile_menu .title {
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
    }

    .mobile_menu .nav {
        align-items: flex-start;
        flex-direction: column;
    }

    #burger_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

@media (max-width: 990px) {
    main{
        padding-top: 3rem;
    }
    main .banner{
        background-size: contain;
        height: 17vh;
    }
    .container:not(header .container) {
        flex-direction: column;
        gap: 2rem;
    }

    .container p,
    main .banner .title {
        text-align: center;
    }

    main .banner .title{
        font-size: 1.5rem;
    }

    section img {
        max-width: 350px;
    }

    .title h1,
    .title h4 {
        font-size: 0.8rem !important;
    }

    .img_model img{
        width: 350px;
    }

    section .btn{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 1250px) {
    .about_main .personal .container {
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    .personal .text {
        width: 100%;
    }

    .personal .certificates {
        flex-wrap: wrap;
        justify-content: center;
    }

    .personal .wrapper_img {
        width: 350px;
    }
}